config
*.pyc
config.py
testar_edicao/
dados_puxados_preenchimento.xlsx
exemplos/
Produtividade/
encomendas.xlsx
rateio_malote/
uber/

# =========================
# Python / VS Code
# =========================
__pycache__/
*.py[cod]
*$py.class
.vscode/
.venv/
venv/

# =========================
# PyInstaller (Executáveis)
# =========================
build/
dist/
*.spec

# =========================
# Arquivos Dinâmicos e Dados Sensíveis
# =========================
# Ignora os arquivos de erro do Selenium
erro_*.png
erro_*.html

# Ignora o cache do scraper
cache_percursos_cc.json

config_mrv.json